body {
    margin-left: 0;
    background-color: black;
    color: #ffffff;
    transition: margin-left 0.4s ease, opacity 0.4s ease;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
    display: flex;
    flex-direction: column;
}

body.menu-open {
    margin-left: 250px;
}

body.fade-out .main-content {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.main-content {
    transition: opacity 0.4s ease-in;
}

/* Overlay for fading effect */
.page-overlay {
    position: fixed;
    top: 0;
    left: 250px; /* Adjust this value to match the width of your sidenav */
    width: calc(100% - 250px); /* Ensure it covers the area outside the sidenav */
    height: 100%;
    background-color: #111;
    z-index: 9999; /* High z-index to ensure it overlays all content */
    opacity: 1; /* Visible by default */
    transition: opacity 0.4s ease-in-out;
    pointer-events: none; /* Prevents interaction with the overlay */
}

.page-overlay.hidden {
    opacity: 0; /* Hidden state */
}

/* Side Navigation Styles */
.side-nav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: -250px;
    background-color: #111;
    overflow-x: hidden;
    transition: left 0.4s ease;
    padding-top: 90px; /* Push down the menu items */
}

.side-nav.open {
    left: 0; /* Show sidenav */
}

.side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: block;
    position: relative;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.side-nav a::after {
    content: '';
    display: block;
    width: 76%;
    height: 1px;
    background-color: #ccc;
    margin: 10px auto 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Highlight for active items */
.side-nav a.active {
    background-color: #f5c2629a;
    color: white;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
    z-index: 10001; /* Ensure the highlight is above the overlay */
}

/* Fading out the highlight effect */
.side-nav a.fade-out-highlight {
    background-color: transparent;
    color: white;
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.side-nav.no-transition {
    transition: none;
}

/* Logout Container */
.logout-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    margin-left: 250px;
}

/* Burger Menu */
.burger-menu {
    position: absolute;
    top: 30px; /* Adjust this as needed */
    left: 20px;
    cursor: pointer;
    z-index: 1001;
}

.burger-menu .line {
    width: 35px;
    height: 5px;
    background-color: #d2b48c;
    margin: 7px 0;
}

/* Header Container for Title and Logout Card */
.header-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    flex-direction: row;
}

.card-title-container {
    flex-grow: 0.9; /* Allow the title card to grow and fill the available space */
    margin-right: 20%;
    margin-left: 10%;
}

.logout-card {
    min-width: 10%; /* Adjust as necessary */
    max-width: 25%; /* Adjust as necessary */
}

/* Centered Titles and Headers */
.card-title, .genre-heading {
    text-align: center;
    margin: 0; /* Remove any margin to ensure it takes full width */
}

/* Movie List Container */
.container {
    padding-top: 0px;
    padding-left: 15px; /* Bring the content closer to the left */
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow the container to grow and fill the available space */
}

.card {
    margin-left: 55px; /* Adjust the margin-left value to bring it closer to the left */
    margin-top: 15px;
    margin-bottom: 0px;
    max-width: 100%; /* Adjust as necessary */
    background-color: rgb(30, 30, 30);
}

.card.movie-card {
    flex-grow: 1; /* Allow the movie card to take up the remaining vertical space */
    display: flex;
    flex-direction: column;
}

.card.movie-card {
    flex-grow: 1; /* Allow the card body to fill the card */
    overflow-y: auto; /* Enable scrolling if content overflows */
    margin-left: 0px;
}

.card-body {
    overflow-y: auto; /* Enable scrolling if content overflows */
    margin-left: 0px;
}

.btn-group {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.movie-list {
    margin: 0 auto;
    width: 100%;
    background-color: #111;
}

/* Movie List and Header */
.movie-header, .movie-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.movie-header div, .movie-item div {
    flex: 1;
    padding: 10px;
}

.movie-item {
    border-top: 1px solid #ddd;
}

.movie-header {
    background-color: #f8f9fa;
    font-weight: bold;
    cursor: pointer;
}

.movie-details, .movie-year {
    text-align: left;
}

.user-rating {
    text-align: right;
}

.movie-ratings {
    text-align: right;
}

.rating-primary {
    font-weight: bold;
    font-size: larger;
}

.rating-secondary {
    font-size: smaller;
}

.sort-indicator {
    font-size: small;
}

/* Genre Heading */
.genre-heading {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* Active Button Style */
.btn-active {
    background-color: #007bff;
    color: white;
}

/* Carousel Styles */
.carousel-inner {
    border-radius: 15px;
    overflow: hidden;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: left;
    height: 300px; /* Adjust this height based on your design needs */
}

.carousel-item h5 {
    font-size: 24px;
    font-weight: bold;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 16px;
}

.carousel-item .genre,
.carousel-item .rating {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
}

.card.bg-dark {
    background-color: #333 !important;
    color: white !important;
}

.card-header {
    background-color: #444;
    font-size: 18px;
    font-weight: bold;
}

.card-body {
    font-size: 16px;
}
